.journey-container {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
}

.sidebar {
    width: 220px;
    padding: 20px;
    background-color: #f2f2f2;
    border-right: 1px solid #ccc;
}

.main-content {
    flex: 1;
    padding: 1.5rem;
}